RewriteEngine On
#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://www.elshcon.space/$1 [R,L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^\.]+)$ $1.php [NC,L]
 #RewriteRule ^/(\w+)\/?$ /$1.php [NC,L]
#ErrorDocument 404 WrongURL
# add .php to access file, but don't redirect
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{REQUEST_URI} !/$
RewriteRule (.*) $1\.php [L]
